@use 'slim-select/scss';

:root {
  --ss-primary-color: var(--color-primary);
  --ss-bg-color: var(--color-surface);
  --ss-font-color: var(--color-text);
  --ss-placeholder-color: var(--color-text-muted);
  --ss-disabled-color: var(--color-surface-alt);
  --ss-border-color: var(--color-border);
  --ss-highlight-color: var(--color-primary-soft);
  --ss-focus-color: var(--color-primary);
  --ss-success-color: var(--color-success);
  --ss-error-color: var(--color-danger);

  --ss-main-height: var(--input-height);
  --ss-search-height: var(--ss-main-height);
  --ss-option-height: var(--ss-main-height);

  --ss-spacing-l: var(--spacing);
  --ss-spacing-m: var(--spacing-half);
  --ss-spacing-s: var(--spacing-quarter);

  --ss-border-radius: var(--border-radius);
}
